<div id="all-presentations">
  <h2>My Presentations</h2>
  <% @presentations.each_slice(3) do |presentation_arr| %>
    <div class="row">
      <% presentation_arr.each do |presentation| %>
        <div class="col-md-4 presentation-card">
          <h3 class="presentation-card-title">
            <%= link_to "#{presentation.title}", "presentations/#{presentation.id}" %>
          </h3>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
