<div id="all-presentations">
  <h2>My Presentations</h2>
  <% @presentations.each_slice(3) do |presentation_arr| %>
    <div class="row">
      <% presentation_arr.each do |presentation| %>
        <div class="col-md-4 presentation-card">
          <div class="presentation-card-title">
            <h3 class="presentation-card-heading">
              <%= link_to "#{presentation.title}", "presentations/#{presentation.id}" %>
            </h3>
          </div>
          <div class="presentation-body">
            <%= image_tag 'http://placehold.it/200x200', class: 'presentation-card-image', alt: 'placeholder' %>
          </div>
          <div class="presentation-buttons">
            <%= form_for presentation, url: { action: "broadcast", params: {id: presentation.id} } do |f| %>
              <%= f.submit 'Broadcast', class: 'btn btn-success', role: 'button' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
