// Place all the styles related to the Presentations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.presentation-card {
  min-height: 320px;
}

.presentation-card-title {
  height: 50px;
}

h3.presentation-card-heading {
  font-size: 1em;
}

.presentation-body {
  min-height: 200px;
}

.presentation-card-image {
  display: block;
  margin: 1em auto;
}

.presentation-buttons {
  height: 50px;
}

.single-presentation {

}

.single-presentation-title {

}

.single-presentation-body {
  min-height: 65vh;
}

.single-presentation-buttons {
  height: 50px;
}
