<% if current_user %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">LiveQuiz</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.first_name %> <%= image_tag(current_user.picture, alt: current_user.first_name, size: '32') %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Log Out', 'logout' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
<% end %>
